{% extends "base.html" %}

{% block titulo %}
Lista de productos
{% endblock titulo %}

{% block contenido %}
<h3>Productos:</h3>
<a href="{% url 'lista_productos' %}">Ver todos</a>
<a href="{% url 'crear_producto' %}">CREAR PRODUCTO</a>
<br><br>
<form action="{% url 'buscar_producto' %}" method="post">
    {% csrf_token %}
    <input type="text" name="precio">
    <input type="submit" value="Buscar por precio">
</form>
<br>
<ul>
{% for producto in productos %}
    <li>
        {{ producto.nombre_producto }}, {{ producto.precio }}
    </li>
{% endfor %}
</ul>
{% endblock contenido %}